.btn-modal {
    padding: 10px 20px;
    display: flex;
    margin: 0;
    font-size: 18px;
    margin:5px;
}

.modal {
    position: block;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
        
}

.overlay {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-content {
    
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    width: 50%;
    overflow-y: auto;
    max-height: 80%;
    cursor:default;
}
.modal-content img{
    width: 70%;
    margin-top: 10%;
}

.close-modal {
    position: relative;
    margin: 0 auto;
    display: block;
    padding: 5px 10px;
    
}
.close-modal:hover{
    cursor: pointer;
}